<center>

<div id="top-image-products">
  <img src="<%= @product.piclarge %>" />
</div>

<div id="wrapper-products">

<!--   <img src="<%= @product.piclarge %>" /> -->
  <br>
  <h1 id="page-title-products"><%= @product.name %></h1>

  <div class="otherpics">
      <img src="<%= @product.picsmall %>" />
      <img src="<%= @product.piclargetwo %>" />

  </div>

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...



  </div>





</div>

</center>